<article class="{{ if .Params.image }}has-image {{ end }} {{ if .Params.contact }} main-article--contact {{ else }} main-article {{ end }}">
    {{ if not .Params.contact }} {{ partial "article/components/header" . }} {{ end }}

    {{ if .Params.progFile }} {{ partial "article/components/projectscontent" . }} {{ else if .Params.tracks }} {{ partial "article/components/musiccontent" . }} {{ else if .Params.contact }} {{ partial "article/components/contact" . }} {{ else }} {{ partial "article/components/content" . }} {{ end }}

    {{ partial "article/components/footer" . }}

    {{ if or .Params.math .Site.Params.article.math }}
        {{ partialCached "article/components/math.html" . }}
    {{ end }}
</article>