<div class="article-list--compact links">
    {{ range $i, $link := .Params.links }}
        <article>
            <a {{ if not (eq $link.type "header") }} href="{{ $link.website }}" {{ end }} target="_blank" rel="noopener">
                {{ with $link.image }}
                    <div class="article-image">
                        <img src="{{ . }}" loading="lazy">
                    </div>
                {{ end }}
                <div class="article-details">
                    <h2 class="article-title {{ if eq $link.type "header" }}linkHeader{{ end }} ">
                        {{- $link.title -}}
                    </h2>
                    <footer class="article-time">
                        {{ with $link.description }}
                            {{ . }}
                        {{ else }}
                            {{ $link.website }}
                        {{ end }}
                    </footer>
                </div>
                
                {{ with $link.secondImage }}
                    <div class="article-image">
                        <img src="{{ . }}" loading="lazy">
                    </div>
                {{ end }}
            </a>
        </article>
    {{ end }}
</div>