
<section>    
    {{- $taxonomy := $.Site.GetPage "musicsuite" -}}
    {{- $terms := $taxonomy.Pages -}}
    {{ if $terms }}
    <h2 class="section-title">BeepBox/JummBox Compositions</h2>
    <div class="subsection-list">
        <div class="article-list--tile--music">
            {{ range $terms }}
                {{ partial "article-list/musictile" (dict "context" . "size" "250x150" "Type" "taxonomy") }}
            {{ end }}
        </div>
    </div>
    {{ end }}
</section>

<div class="article-list--profile music">

    {{ range $i, $track := .Params.tracks }}
        
        <article>
            
            <a target="_blank" rel="noopener">
                {{ with $track.image }}
                    <div class="article-image">
                        <img src="{{ . }}" loading="lazy">
                    </div>
                {{ end }}
                <div class="article-details">
                    <h2 class="article-title">
                        {{- $track.title -}}
                    </h2>
                    <audio controls> 
                        <source src="{{ $track.musictrack }}" type="audio/mpeg">
                    </audio>
                    <footer class="article-time">
                        {{ with $track.description }}
                            {{ . }}
                        {{ else }}
                            {{ $track.website }}
                        {{ end }}
                    </footer>
                    
                    
                </div>
            </a>

        </article>

    {{ end }}

</div>